
/*---------------Element CSS------------------ */
footer {
    background-color: rgb(194, 75, 188);
    text-align: center;
    padding: 20px; 
    height: 60px;
    color: white;
    bottom: 0;

}


/* -------------- Class CSS ------------------ */

.nb-bg-color{
    background-color: #624bc2;
}

.about-author {
    color: rgb(11, 16, 25);
    padding-top: 20px;
}

.author {
    background-color: antiquewhite;
    text-align: right;
}

.overview {
    background-color: rgba(80, 24, 100, 0.392);
}

.overview-font {
    font-size: 20px; 

}
.chFont {
    font-size: 25px;
}

.showcase {
    background-color: rgba(63, 54, 132, 0.758);

}
.procedure {
    background-color: rgba(85, 28, 89, 0.758);
}

.scalePic {
    position: relative;
    top: 100px;
    transform: scaleY(1.5);
}

.icon-purple {
    color: rgb(94, 10, 179);
}

.icon-white {
    color: white;
}
.queenan {
    transform: scale(0.8);
}

.results {
    background-color: rgba(223, 142, 228, 0.758);
}
.results-bg {
    background-color: rgba(232, 161, 235, 0.758);
}
.dataForm{
    display: flex;
    justify-content: left;
    align-items: center;
}

.days{
    text-align: center;
    vertical-align: middle;
}

.headerBG{
    background-color: #e6e6e6;
}

.footerBG{
    background-color: #e6e6e6;
}

.ordered-List-item-font{
    font-size:22px;
}
.overview-font{
    font-size:25px;
}

.signUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.temps-table{
    max-height: 250px;  /*prevent table from stretching to bottom of screen*/
    overflow: auto;
}

.temps{
    text-align: center;
    vertical-align: middle;
}

.nbMenuItem{
    font-size:25px;
    padding-right: 20px;
    padding-left: 20px;
}

.notes{
    font-size:20px;
}

.signIn{
    padding-top: 120px;
    /*background-color: rgb(152, 106, 133);*/
    background-image: linear-gradient(315deg, rgb(152, 106, 133) 0%, rgb(126, 55, 96) 74%);
    padding-bottom: 196px;
}
.homeBg{
    background-image: linear-gradient(315deg, rgb(196, 33, 106) 0%, rgb(148, 96, 157) 74%);
    padding-bottom: 196px;
}

.font{
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.btn-outline-primary {
    --bs-btn-color: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0d6efd;
    --bs-btn-hover-border-color: #0d6efd;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0d6efd;
    --bs-btn-active-border-color: #0d6efd;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none; 
/*
    --bs-btn-color: #03e7fc;
    --bs-btn-border-color: #03e7fc;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #03e7fc;
    --bs-btn-hover-border-color: #03e7fc;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #03e7fc;
    --bs-btn-active-border-color: #03e7fc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #03e7fc;
    --bs-btn-disabled-bg: #03e7fc;
    --bs-btn-disabled-border-color: #03e7fc;
    --bs-gradient: none; */
}

.btn-outline-secondary {
   /* --bs-btn-color: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6c757d;
    --bs-btn-hover-border-color: #6c757d;
    --bs-btn-focus-shadow-rgb: 108,117,125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #6c757d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none; */

    --bs-btn-color: #352c42;
    --bs-btn-border-color: #352c42;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #352c42;
    --bs-btn-hover-border-color: #352c42;
    --bs-btn-focus-shadow-rgb: 108,117,125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #352c42;
    --bs-btn-active-border-color: #352c42;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #352c42;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #352c42;
    --bs-gradient: none; 
}

.setColor{
    background-color: #776296;
}

.listColor{
    background-color: #cabae0;
}

.border{
    border-radius: 5%;
}
/* -------------- ID CSS ------------------ */
#nBMenuItem{
    font-size: 25px;
    padding-right: 20px;
    padding-left: 20px;
    color: #cbd0cc;
}

div#about {
    width: 400px;
    margin: auto;
    transform: scale(1);
}

h1#ovPadLeft{
    padding-left: 20px;
}

p#ovPadLeft{
    padding-left: 20px;
}

h1#ovPadRight{
    padding-right: 20px;
}

p#ovPadRight{
    padding-right: 20px;
}

#title {
    font-size: 50px;
    text-align: center;
    margin: auto; 
}
#center {
    width: 100;
    padding-top: 100px;
}

#scale {
    transform: scale(1.5);
    margin: auto;
}

/* -------------- Underline Animation and Enlarge Animation CSS ------------------ */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #21bd2e;
  }


.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: #cd12bd;
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-scale:hover {
    transform: scale(1.1);
}

